<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NFT PAGE</title>

    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/product.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script
        src="https://kit.fontawesome.com/115a5a2ad4.js"
        crossorigin="anonymous"
      ></script>
  </head>

  <!-- body HTML -->
  <body>
    <%- include('partials/user_header')%>
  <main class="container">
    <section id="filter">

    </section>

    <!-- Left Column-->
    <div class="left-column">
      <img src="<%= product.image%>" alt="DTP xmas sweater" class="img-fluid" style="width: 600px; height: auto;">
    </div>


    <!-- Right Column -->
    <div class="right-column">

      <!-- NFT Description -->
      <div class="product-description">
        <span>#id</span>
        <h1><%= product.title%></h1>
        <p><%= product.description %></p>
      </div>
      <li class="list-inline-item m-0"><form method="POST" action=#><input type="submit" style="background-color:rgb(101, 7, 189);  border-radius: 25px; border-color:rgb(101, 7, 189); color:white" value="Favourite"></form>  </i></li>
      <!-- NFT Pricing -->
      <div class="product-price">
        <div class="price-and-favorite"></div>
          <span><b>$</b><%= product.price%></span>
        </div>


        <form target="_blank" action="#" method="POST">
          <textarea placeholder="Hello.." class="contact-seller" name="message"></textarea>
          <button type="submit" class="btn btn-outline-primary">Contact Seller</button>
        </form>
      </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
